
body {
  width: 100%;
  height: 100vh;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: block;
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em;
  padding: 0;
}

.switch-menu-item-content {
  margin-left: 96px;
}

.switch-menu-item-caption {
  display: inline-block; 
  font-size: 20px; 
  font-family: sans-serif; 
  background: transparent; 
  margin-right: 16px; 
  color: black; 
  width: auto; 
  height: 32px; 
  text-align: center; 
  vertical-align: middle;
  font-weight: bold;
}

.switch-menu-item-icon {
  width: 24px;
  height: 24px; 
  background: transparent; 
  display: inline-block;
}

.switch {
  position: absolute;
  top: 0;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sidenav {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 3;
  top: 0;
  right: -250px;
  background: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 6px 2px 12px #666666;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #1565C0;
}

.sidenav .closebtn {
  color: #f1f1f1;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menu-item {
  width: auto;
  height: 56px;
  background: transparent;
  border: none;
  outline: none;
}

.menu-item-content {
  margin-left: 112px;
}

.menu-item-caption {
  display: inline-block; 
  font-size: 20px; 
  font-family: sans-serif; 
  background: transparent; 
  margin-right: 16px; 
  color: black; 
  width: auto; 
  height: 32px; 
  text-align: center; 
  vertical-align: middle;
  font-weight: bold;
}

.menu-item-icon {
  width: 24px;
  height: 24px; 
  background: transparent; 
  display: inline-block;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@-webkit-keyframes fadeInFromNone {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes fadeInFromNone {
  0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}

@-webkit-keyframes hideOpacity {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes hideOpacity {
  0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.icon {
  width: 24px;
  height: 24px;
}

.explore-button {
  width:56px;
  height:56px;
  border-radius: 20px;
  background: transparent;
  color: #1565C0;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translate(0, -50%);
  border-width: 0px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: sans-serif;
  outline: none;
  cursor: pointer;
}

.explore-button {
  position: absolute;
  overflow: hidden;
}

.explore-button::after {
  display: none;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  
  top: 50%;
  left: 50%;

  animation: ripple 1.5s;
  opacity: 0;
}
.explore-button:focus:not(:active)::after {
  display: block;
}

.menu-button {
  width: 64px;
  height: 64px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #1565C0;
  z-index: 3;
  border-width: 0px;
  font-size: 20px;
  font-family: sans-serif;
  outline: none;
  cursor: pointer;
}

.menu-button {
  position: absolute;
  overflow: hidden;
}

.menu-button::after {
  display: none;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  
  top: 50%;
  left: 50%;

  animation: ripple 1.5s;
  opacity: 0;
}
.menu-button:focus:not(:active)::after {
  display: block;
}

.building-avatar {
  border-radius: 32px;
  width: 96px; 
  height: 96px;
  margin-left: 16px; 
  margin-right: 16px; 
  margin-top: -32px; 
  box-shadow: 4px 8px 12px rgba(0, 0, 0, .5);
}

.building-title {
  position: absolute; 
  top: 16px; 
  right: 24px; 
  color: rgba(0, 0, 0, .65); 
  font-size: 20px; 
  font-family: sans-serif; 
  font-weight: bold;
}

.building-description {
  width: 80%;
  position: absolute; 
  top: 32px; 
  right: 24px; 
  color: rgba(0, 0, 0, .5); 
  font-size: 15px; 
  font-family: sans-serif; 
  font-weight: bold;
}

.building-card {
  position: relative;
  margin-top: 16px;
  width: 90%;
  height: 175px;
  border-radius: 16px;
  background-color: whitesmoke;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, .5);
  z-index: 1;
  margin-right: 16px;
  width: calc(100% - 16px);
}

.flex-container {
  display: grid;
  width: calc(100% - 16px);
  height: auto;
  position: absolute;
  direction: ltr;
  grid-template-columns: 50% 50%;
  top: 80px;
  margin-bottom: 32px;
  left: 100%;
  z-index: 0;
}

.card-div {
  width: 300px; 
  height: 300px;
  background: white;
  box-shadow: 2px 6px 16px #444444;
  border-radius: 16px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
  
.appbar {
    width: 100%; 
    height: 64px;
    top: -64px;
    transform: translate(0, 0);
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 4px 6px 18px #444444;
    z-index: 2;
    transform-origin:top right;
}

.search-input {
    color: white;
    text-align: center;
    position: absolute;
    left: 50%; 
    transform: translate(-50%); 
    border-radius: 16px;
    width: 60%;
    height: 40px; 
    margin-top: 12px; 
    background: rgba(255, 255, 255, .25); 
    border: 0px white; 
    outline-color: transparent; 
    padding-left: 16px; 
    padding-right: 16px;
    font-size: 14;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    transition: all .35s ease;
}

.search-input::placeholder {
  color: white;
}

.home-bottom-bar-button {
  background: transparent; 
  border: none; 
  outline: none; 
  width: auto; 
  height: auto; 
  position: relative; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%);
}

.home-bottom-bar-button {
  position: relative;
  overflow: hidden;
}

.home-bottom-bar-button::after {
  display: none;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  
  /* Center the ripple */
  top: 50%;
  left: 50%;

  animation: ripple 1s;
  opacity: 0;
}
.home-bottom-bar-button:focus:not(:active)::after {
  display: block;
}

.home-bottom-bar-button-icon {
  width: 24px; 
  height: 24px;  
  position: absolute; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -100%);
}

.home-bottom-bar-button-title {
  font-size: 18px; 
  font-family: sans-serif; 
  font-weight: bold;  
  position: absolute; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, +25%);
}

.auth-username-input {
  background: transparent;
  position: absolute;
  left: 50%; 
  transform: translate(-50%, calc(-50% + 1.25cm));
  top: 1.5cm;
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: #666666;
  text-align: center;
  width: 5cm;
  height: 40px; 
  margin-top: 12px;
  padding-left: 16px; 
  padding-right: 16px;
  font-size: 14;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  transition: all .35s ease;
  font-family: sans-serif;
  color: black;
}

.auth-username-input::placeholder {
  color: #666666;
  opacity: 1;
}

.auth-username-input:focus {
  width: 6cm;
  border-color: #56a5ff;
  color: #56a5ff;
}

.auth-password-input {
  background: transparent;
  position: absolute;
  left: 50%;
  transform: translate(-50%, calc(-50% + 1.5cm));
  top: 3cm;
  outline: 0;
  border-width: 0 0 1.5px;
  border-color: #666666;
  text-align: center;
  width: 5cm;
  height: 40px; 
  margin-top: 12px;
  padding-left: 16px; 
  padding-right: 16px;
  font-size: 16;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  transition: all .35s ease;
  font-family: sans-serif;
  color: black;
}

.auth-password-input::placeholder {
  color: #666666;
  opacity: 1;
}

.auth-password-input:focus {
  width: 6cm;
  border-color: #56a5ff;
  color: #56a5ff;
}

.logo-view {
  background-color: #1565C0;
  border-radius: 1.75cm;
  width: 3.5cm;
  height: 3.5cm;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 3px 4px #444444;
  font-family: sans-serif;
  user-select: none;
}

.home-logo-view {
  font-family: sans-serif;
  user-select: none;
  color: white;
  line-height: 16px; 
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: auto; 
  height: 100%;
}

.image {
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 120px;
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@keyframes border-color-changer {
  from { border-color: black;    }
  to   { border-color: dodgerblue; }
}

@-webkit-keyframes spinner {
    from { -webkit-transform: rotate3d(1, 1, 1, 0deg);    }
    to   { -webkit-transform: rotate3d(1, 1, 1, -360deg); }
}

/* all other browsers */
@keyframes spinner {
    from {
      -moz-transform: rotate3d(1, 1, 1, 0deg);
      -ms-transform: rotate3d(1, 1, 1, 0deg);
      transform: rotate3d(1, 1, 1, 0deg);
    }
    to {
      -moz-transform: rotate3d(1, 1, 1, -360deg);
      -ms-transform: rotate3d(1, 1, 1, -360deg);
      transform: rotate3d(1, 1, 1, -360deg);
    }
}

.login-button {
  display: inline-block;
  width: 3cm;
  height: 1.5cm;
  border-radius: .75cm;
  background-color: #1565C0;
  color: white;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 3px 4px #222222;
  outline: 0px;
  border-width: 0px;
  box-sizing: border-box;
  min-width: 10vw;
  font-size: 20px;
  font-family: sans-serif;
  cursor: pointer;
}

.login-button {
  position: absolute;
  overflow: hidden;
}

.login-button::after {
  display: none;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  
  /* Center the ripple */
  top: 50%;
  left: 50%;

  animation: ripple 1s;
  opacity: 0;
}
.login-button:focus:not(:active)::after {
  display: block;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}

@keyframes fadeOut {
  from { 
    left: 50%;
    opacity: .9;
  }
  to   { 
    left: -50%;
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  from { 
    left: 50%;
    opacity: .9;
  }
  to   { 
    left: -50%;
    opacity: 0;
  }
}


@keyframes slideIn {
  from { 
    top: -64px;
  }
  to   { 
    top: 0px;
  }
}

@-webkit-keyframes slideIn {
  from { 
    top: -64px;
  }
  to   { 
    top: 0px;
  }
}

@keyframes slideInBuildings {
  from { 
    left: 100%;
    opacity: 0;
  }
  to   { 
    left: 16px;
    opacity: 1;
  }
}

@-webkit-keyframes slideInBuildings {
  from { 
    left: 100%;
    opacity: 0;
  }
  to   { 
    left: 16px;
    opacity: 1;
  }
}

@keyframes changeBodyColor {
  from { 
    background-color: dodgerblue;
  }
  to   { 
    background-color: whitesmoke;
  }
}

@-webkit-keyframes slideInBuildings {
  from { 
    background-color: dodgerblue;
  }
  to   { 
    background-color: whitesmoke;
  }
}

@keyframes slideMenuMiniIn {
  from { 
    right: -56px;
  }
  to   { 
    right: 0px;
  }
}

@-webkit-keyframes slideMenuMiniIn {
  from { 
    right: -56px;
  }
  to   { 
    right: 0px;
  }
}

@keyframes bottomBarUp {
  from { 
    bottom: -56px;
  }
  to   { 
    bottom: 0px;
  }
}

@-webkit-keyframes bottomBarUp {
  from { 
    bottom: -56px;
  }
  to   { 
    bottom: 0px;
  }
}